html, body {
    margin: 0;
    font-family: Courier, monospace;
    text-align: left;
    background-image: url('./intothemoneylandnew.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        background-image: url("./intothemoneylandnewmobile.jpg");
        background-attachment: scroll;
    }

    #links ul {
        margin: 0 1rem;
        padding: 0;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
    }

    #topbar ul {
        padding: 0 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
    }

    #personalinfo {
        margin: 0 1rem;
    }
}

main {
    min-height: 100vh;
    padding-top: 0.5rem;
    color: beige;
    h1 {
        text-align: center;
        font-size: 3rem;
        margin: 0;
    }
    h2 {
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0;
    }
    p {
        text-indent: 2em;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

#personalinfo {
    background-color: #37392E80;
    margin: 0 15rem;
    padding: 1rem 1rem;
}

#links {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    #links ul {
        width: 100%;
        margin: 1rem 25rem;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
    }
}

#links img {
    transition: transform 0.3s ease;
    transform-origin: center center;
}

#links img:hover {
    transform: scale(1.15);
}

#topbar{
    display: flex;
    align-items: center;
    margin: 0%;
    width: 100%;
    min-height: 3rem;
    background-color: #37392E80;
    margin-top: 1rem;
}
#topbar ul {
    color: beige;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    padding: 0 10rem;
    margin-top: 0;
}

#topbar li {
    margin-top: 1rem;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

#topbar li:hover {
    transform: scale(1.15);
}
